.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 992px;
  padding: 2.5rem 2rem;
}

.container section {
  align-content: center;
  display: grid;
  flex: 1;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.25rem;
}

@media(max-width: 1024px) {
  .container {
    height: auto;
  }

  .container section {
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 500px;
  }
}